.bg-info {
    background-color: #0e4b90!important;
}

.help-block {
    display: none;
}

.radius2 {
    border-radius-top-right: 0px !important;
    border-radius-bottom-right: 0px;
    display: none;
}

canvas {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 9999;
}


/*  LOADING */

#overlay {
    display: none;
    z-index: 999;
    position: fixed;
    background-color: rgba(22, 22, 22, 0.7);
    width: 100%;
    height: 100%;
}

#loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
}

#text {
    font-family: Arial;
    color: #eee;
}

.bubble {
    width: 15px;
    height: 15px;
    background-color: #eee;
    border-radius: 50%;
    display: inline-block;
    -webkit-animation: in-and-out-bubbles 1.20s infinite ease-in-out;
    animation: in-and-out-bubbles 1.20s infinite ease-in-out;
}

.bubble1 {
    -webkit-animation-delay: -0.35s;
    animation-delay: -0.35s;
}

.bubble2 {
    -webkit-animation-delay: -0.20s;
    animation-delay: -0.20s;
}

@keyframes in-and-out-bubbles {
    0%,
    80%,
    100% {
        transform: scale(0)
    }
    20% {
        transform: scale(1)
    }
}

@-webkit-keyframes in-and-out-bubbles {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    20% {
        -webkit-transform: scale(1)
    }
}

#someDiv {
    -webkit-animation: in-and-out-bubbles infinite ease-in-out;
    /* Safari 4+ */
    -moz-animation: in-and-out-bubbles infinite ease-in-out;
    /* Fx 5+ */
    -o-animation: in-and-out-bubbles infinite ease-in-out;
    /* Opera 12+ */
    animation: in-and-out-bubbles infinite ease-in-out;
    /* IE 10+, Fx 29+ */
}


/* END LOADING */

textarea {
    resize: none !important;
    height: 200px !important;
}


/* PAGINATION */

.pagination {
    margin: 0px;
}


/*    .pagination>li:last-child>a, .pagination>li:first-child>a {
        border-radius: 0px !important;
    }*/

#pagination li>a {
    color: #000;
    margin-left: 3px;
    margin-right: 3px;
    border: none;
    background-color: #eee;
    border-radius: 4px;
}

#pagination .active>a {
    color: #fff;
    background-color: #3c8dbc;
}

#pagination li>a:hover {
    background-color: #3c8dbc;
    color: #fff;
}


/* override pagination.less*/

#pagination .active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #ccc;
    color: #000;
}

.breadcrumb {
    margin-bottom: 0px;
    padding: 8px;
    border-radius: 0;
}


/* END PAGINATION */


/*  FOOTER */

@import url('https://fonts.googleapis.com/css?family=Griffy');
h1.deepshadow {
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h3.deepshadow {
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p.deepshadow {
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote.deepshadow {
    font-family: Raleway;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre.deepshadow {
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

.deepshadow {
    padding: 1px;
    text-align: center;
    margin: 20px auto 10px auto;
    background-color: #0e4b90;
}

.deepshadow h3 {
    font-size: 14px;
    font-weight: 400;
    /*color:rgba(239, 209, 0, 0.53);*/
    color: #fff;
    /*font-family: 'Griffy', cursive;*/
    font-family: 'Raleway', sans-serif !important;
    /*font-weight: bolder;*/
    /*animation-name: dropshadow;
        animation-duration: 5s;
        animation-iteration-count: infinite;*/
    /*letter-spacing: 0.2em;*/
}


/*@keyframes dropshadow{
        10%{
          filter: drop-shadow(-0.2em -0.2em 0.05em white);
        }
        30%{
            filter: drop-shadow(-0.1em 0em 0.05em #c7c100);
        }
        60%{
            filter: drop-shadow(-0.5em 0em 0.05em #c7c100);
        }
        90%{
            filter: drop-shadow(-0.01em 0em 0.05em #c7c100);
        }
        100%{
            color: white;
        }
    }*/


/* END FOOTER */


/* container */

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.content-header {
    padding: 0px !important;
}


/* ========================== */

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border-radius: 4px;
}